@font-face {
  font-display: swap;
  font-family: 'tele2_textsans_regular';
  font-style: normal;
  font-weight: 400;
  src: url('./tele2_textsans-regular.eot'); /* IE9 Compat Modes */
  src: 
       url('./tele2_textsans-regular.woff') format('woff'), /* Modern Browsers */
       url('./tele2_textsans-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./tele2_textsans-regular.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-display: swap;
  font-family: 'tele2_displayserif-regular';
  font-style: normal;
  font-weight: 400;
  src: url('./tele2_displayserif-regular.eot'); /* IE9 Compat Modes */
  src:
       url('./tele2_displayserif-regular.woff') format('woff'), /* Modern Browsers */
       url('./tele2_displayserif-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./tele2_displayserif-regular.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-display: swap;
  font-family: 'tele2_displayserif-bold';
  font-style: normal;
  font-weight: 600;
  src: url('./tele2_displayserif-bold.eot'); /* IE9 Compat Modes */
  src:
       url('./tele2_displayserif-bold.woff') format('woff'), /* Modern Browsers */
       url('./tele2_displayserif-bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./tele2_displayserif-bold.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-display: swap;
  font-family: 'Standart CT Stencil';
  font-style: normal;
  font-weight: 600;
  src: url('./Tele2DisplaySerif-Bold-short__W.eot'); /* IE9 Compat Modes */
  src:
       url('./Tele2DisplaySerif-Bold-short__W.woff') format('woff'), /* Modern Browsers */
       url('./Tele2DisplaySerif-Bold-short__W.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./Tele2DisplaySerif-Bold-short__W.svg') format('svg'); /* Legacy iOS */
}